body{
  font-family: Verdana, Arial, sans-serif;
}
header{
  background-color: FireBrick;
  padding: 1px;
  padding-left: 31px;
  color: white;
}
h1{
  font-weight: normal;
}

h3{
  font-weight: normal;
}

#mainOptions{
  padding: 15px;
  padding-top: 0px;
  width: 250px;
  float: right;
  margin: 15px;
  text-align: center;
  
  background-color: #efe9e1;
  border-radius: 10px;
}

.option{
  padding: 3px;
  display: block;
}

#mainOptions a{
  text-decoration: none;
  color: white;
}

#mainMap{
  float: none; /* not needed, just for clarification */
  /* the next props are meant to keep this block independent from the other floated one */
  width: auto;
  overflow: hidden;
}
